<!DOCTYPE>
<html lang="bg">
    <head>
        <title><?php echo $pageTitle; ?></title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../../resources/css/all.min.css">
        <link rel="stylesheet" href="../../resources/css/common.css">
        <link rel="shortcut icon" type="image/x-icon" href="../../resources/img/favicon.png"/>
        <script type="text/javascript" src="../../resources/js/jquery-3.3.1.min.js"></script>
    </head>
    <body>
        <header id="header-1">
            <section id="link-bar1">
                <a href="../user/login.php"><i class="fas fa-sign-in-alt"></i> Login</a>
            </section>
        </header>
        <header id="header-2">
            <section id="link-bar2">
                <a href="#"><i class="fas fa-video"></i> All videos</a>
                <a href="#"><i class="fas fa-video"></i> Your videos</a>
                <a href="#"><i class="fas fa-upload"></i> Upload a video</a>
                <span id="logout-section2">
                    <span id="logout-message2"></span>
                    <a id="logout-btn2"><i class="fas fa-sign-out-alt"></i> Logout</a>
                </span>
            </section>
        </header>
        <header id="header-3">
            <section id="link-bar3">
                <a href="#"><i class="fas fa-user"></i> All users</a>
                <a href="#"><i class="fas fa-video"></i> All videos</a>
                <span id="logout-section3">
                    <span id="logout-message3"></span>
                    <a id="logout-btn3"><i class="fas fa-sign-out-alt"></i> Logout</a>
                </span>
            </section>
        </header>