form {
    width: 25%;
    margin: 50px 37.5% 0 37.5%;
    box-sizing: border-box;
}

h1 {
    margin: 5px auto;
    text-align: center;
    color: rgb(212, 212, 212);
}

label {
    color: rgb(212, 212, 212);
    font-weight: bold;
    font-size: 25px;
}

input {
    margin: 5px auto;
    color: rgb(212, 212, 212);
    font-weight: bold;
    width: 100%;
    font-size: 20px;
    outline: none;
    border: none;
    border-bottom: 3px solid rgb(212, 212, 212);
    background-color: #4d4d4d;
}

input:focus {
    margin: 5px auto;
    width: 100%;
    font-size: 20px;
    outline: none;
    border: none;
    border-bottom: 3px solid #00ffaa;
    background-color: #4d4d4d;
}

input:-webkit-autofill {
    -webkit-text-fill-color: rgb(212, 212, 212) !important;
    -webkit-box-shadow: 0 0 0px 1000px #4d4d4d inset;
}

input[type=submit] {
    width: 50%;
    padding: 10px;
    margin: 10px 25% 0 25%;
    background-color: rgb(212, 212, 212);
    border: none;
    border-radius: 5px;
    color: #4d4d4d;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

input[type=submit]:hover {
    background-color: #00ffaa;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 #00ffaa;
}

input[type=submit]:active {
    transform: translateY(2px);
}

p {
    margin: 5px auto;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: rgb(212, 212, 212);
}

#success-message {
    color: rgb(82, 200, 255);
}

.small-links {
    font-size: 20px;
    font-style: italic;
}

.error {
    display: none;
    color: rgba(255, 70, 70, 0.8);
    font-weight: normal;
    font-size: 20px;
}