h1 {
    margin: 55px auto 5px auto;
    text-align: center;
    color: rgb(212, 212, 212);
}

ul {
    margin: auto 25%;
    width: 50%;
    list-style-type: none;
    color: rgb(212, 212, 212);
    text-align: left;
    font-size: 20px;
}

li {
    margin: 10px;
    padding: 10px;
    height: 30px;
    border-bottom: 2px solid rgb(212, 212, 212);
}

button {
    float: right;
    margin-left: 15px;
    background-color: #4d4d4d;
    color: rgb(212, 212, 212);
    font-size: 20px;
    outline: none;
    border: 2px solid rgb(212, 212, 212);
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

button:hover {
    color: #00ffaa;
    border: 2px solid #00ffaa;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 #00ffaa;
}

button:active {
    transform: translateY(2px);
}

#success-message {
    color: rgb(82, 200, 255);
    font-size: 20px;
}

#fail-message {
    color: rgb(255, 82, 111);
    font-size: 20px;
}