<!DOCTYPE>
<html lang="bg">
    <head>
        <title><?php echo $pageTitle; ?></title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../../resources/css/all.min.css">
        <link rel="stylesheet" href="../../resources/css/style.css">
        <script type="text/javascript" src="../../resources/js/jquery-3.3.1.min.js"></script>
        <script type="text/javascript" src="../../resources/js/script.js"></script>
    </head>
    <body>
        <header id="header-1">
            <section id="link-bar">
                <a href="#"><i class="fas fa-sign-in-alt"></i> Login</a>
            </section>
        </header>
        <header id="header-2">
            <section id="link-bar">
                <a href="#"><i class="fas fa-video"></i> All videos</a>
                <a href="#"><i class="fas fa-video"></i> Your videos</a>
                <a href="#"><i class="fas fa-upload"></i> Upload a video</a>
                <span id="logout-section">
                    <span id="logout-message">Pesho (User)</span>
                    <a id="logout-btn"><i class="fas fa-sign-out-alt"></i> Logout</a>
                </span>
            </section>
        </header>
        <header id="header-3">
            <section id="link-bar">
                <a href="#"><i class="fas fa-user"></i> All users</a>
                <a href="#"><i class="fas fa-video"></i> All videos</a>
                <span id="logout-section">
                    <span id="logout-message">Gosho (Admin)</span>
                    <a id="logout-btn"><i class="fas fa-sign-out-alt"></i> Logout</a>
                </span>
            </section>
        </header>